export default class Counter extends React.Component {
  state = {
    count: 0
  };

  render() {
    return (
      <div>
        <button
          onClick={() => this.setState({ count: (this.state.count += 1) })}
        >
          Increment
        </button>
        <p>Count: {this.state.count}</p>
      </div>
    );
  }
}
