            Who is this awkward guy standing at the front of the room?
{
  "name": "Justin Leggett",
  "priorities": [
    "Jesus", "Family", "Work"
  ],
  "location": "Murfreesboro, TN",
  "school": "Nashville Software School Evening 4 Cohort",
  "work": "CJC Technology",
  "family": { "Wife": "Katie", "Girls": ["Kallie", "Zoey"], "Boys": ["Pax", "Nox"]
  },
  "role": "Full Stack Developer",
  "hobbies": [
    "Woodworking", "Playing with the Kids", "Movies"
  ]
}