import React, { useState } from "react";

export default function CounterHooks() {
  const [count, setCount] = useState(0);
  const increment = () => setCount(count + 1);
  const reset = () => setCount(0);
  return (
    <div>
      <button style={styles.button} onClick={increment}>
        Increment
      </button>
      <button style={styles.button} onClick={reset}>
        Reset
      </button>
      <p>Count: {count}</p>
    </div>
  );
}