import React, { useContext } from "react";
// JediContext.js
const JediContext = React.createContext();
// Display.js
function Display() {
  const value = useContext(JediContext);
  return <div>{value}, I am your Father.</div>;
}
// App.js
export function App() {
  return (
    <JediContext.Provider value={"Luke"}>
      <Display />
    </JediContext.Provider>
  );
}